# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
*.pyd
pandatools/accessor.c

# Distribution / packaging
build/
dist/
local_installs/
*.egg-info/

# SƠN AI Cache
.son_cache/